# Day 4

In [2]:
import numpy as np
import pandas as pd
import string

In [6]:
df = pd.read_csv('inputs/day_04_input.txt', header=None)
df.columns = ['x1', 'x2']
df.head()

      x1     x2
0  14-50  14-50
1  43-44  43-87
2  55-99  51-96
3  67-68  68-91
4    8-8  27-73

In [9]:
df['x1'].str.split('-', expand=True)

0    object
1    object
dtype: object

In [28]:
df2 = (
    df
    .assign(
        x1_min = lambda x: x.x1.str.split('-', expand=True)[0].astype(int),
        x1_max = lambda x: x.x1.str.split('-', expand=True)[1].astype(int),
        x2_min = lambda x: x.x2.str.split('-', expand=True)[0].astype(int),
        x2_max = lambda x: x.x2.str.split('-', expand=True)[1].astype(int)
    )
    
)

In [29]:
df2 = df2.assign(
    contained = lambda x: (
            (x.x1_min >= x.x2_min) & (x.x1_max <= x.x2_max) |
            (x.x2_min >= x.x1_min) & (x.x2_max <= x.x1_max)
        )
)

In [30]:
df2['contained'].sum()

540

In [32]:
df2 = df2.assign(
    overlap = lambda x: (
            ( (x.x1_min >= x.x2_min) & (x.x1_min <= x.x2_max) ) | ( (x.x1_max >= x.x2_min) & (x.x1_max <= x.x2_max) ) 
            |
            ( (x.x2_min >= x.x1_min) & (x.x2_min <= x.x1_max) ) | ( (x.x2_max >= x.x1_min) & (x.x2_max <= x.x1_max) ) 
        )
)

In [33]:
df2.overlap.sum()

872