# Day 3

In [44]:
import numpy as np
import pandas as pd
import string

In [80]:
orders = pd.read_csv('inputs/day_03_input.txt', header=None)
orders.columns = ['order']
orders.head()

                                  order
0    vGFhvGvvSdfwqhqvmCPnlFPnCNPcCFcWcr
1                ZbWZDMgsTHsrNNLJcJnsJl
2        HbBWQgZVZZBzbgZphwjqpmmVfdGmjG
3  vvCJLGnthChvtrvCCnRbTRqRPRBtbTRfPRRl
4                  djZSgHNNwjqcdWlbcbfc

In [54]:
strings = string.ascii_lowercase + string.ascii_uppercase
priorities = {strings[i]:i+1 for i in range(len(strings))}
priorities['a']

1

In [81]:
df = (
    orders
    .assign(
        splt = lambda x: x.order.str.len(),
        order1 = lambda x: x.apply(lambda x: x.order[:int(x.splt/2)], axis=1),
        order2 = lambda x: x.apply(lambda x: x.order[int(x.splt/2):], axis=1),
    )

)

df.head()

,order,splt,order1,order2
0,vGFhvGvvSdfwqhqvmCPnlFPnCNPcCFcWcr,34,vGFhvGvvSdfwqhqvm,CPnlFPnCNPcCFcWcr
1,ZbWZDMgsTHsrNNLJcJnsJl,22,ZbWZDMgsTHs,rNNLJcJnsJl
2,HbBWQgZVZZBzbgZphwjqpmmVfdGmjG,30,HbBWQgZVZZBzbgZ,phwjqpmmVfdGmjG
3,vvCJLGnthChvtrvCCnRbTRqRPRBtbTRfPRRl,36,vvCJLGnthChvtrvCCn,RbTRqRPRBtbTRfPRRl
4,djZSgHNNwjqcdWlbcbfc,20,djZSgHNNwj,qcdWlbcbfc

In [86]:
def columns_overlap(row):
    sets = [set(s for s in row)]
    intersection = set.intersection(*sets)
    return intersection != set()

df[['order1', 'order2']].apply(columns_overlap, axis=1)

0      True
1      True
2      True
3      True
4      True
       ...
295    True
296    True
297    True
298    True
299    True
Length: 300, dtype: bool

In [104]:
df.apply(
    lambda x: [t for t in [i in x.order1 for i in x.order2] if t == True], axis=1
)

0      [True, True]
1            [True]
2            [True]
3            [True]
4            [True]
           ...
295    [True, True]
296          [True]
297          [True]
298          [True]
299    [True, True]
Length: 300, dtype: object

In [132]:
count = 0
result = {}
for o in orders.order.unique():
    o1 = o[:int(len(o)/2)]
    o2 = o[int(len(o)/2):]
    
    value = [x for x in o1 if x in o2]
    result[count] = priorities[value[0]]
    count += 1
    
sum(result.values())

7785

In [151]:
df2 = (
    orders
    .reset_index()
    .assign(
        index = lambda x: np.floor(x.index/3)*3,
        rn = lambda x: x.groupby('index').cumcount()+1
    )
    .pivot(index='index',columns='rn', values='order')
)
df2.head()

rn,1,2,3
index,,,
0.0,vGFhvGvvSdfwqhqvmCPnlFPnCNPcCFcWcr,ZbWZDMgsTHsrNNLJcJnsJl,HbBWQgZVZZBzbgZphwjqpmmVfdGmjG
3.0,vvCJLGnthChvtrvCCnRbTRqRPRBtbTRfPRRl,djZSgHNNwjqcdWlbcbfc,pFgMSfpMfzMDZFSgSjGJQQnCvMCVLnnJQLGC
6.0,gVhQWQpcWZVwwHVvFvnnnnDFdL,lzbPlztjltztzSjfGcPdTHLTHFCnnHCLndFGGd,jsNbzbczclttSlfbqlljRQMJRMMpJwRZhspZgJRM
9.0,hLJvfGcNDttSGvJtvSSJcqbqFBBWbjQqDrqbjDDjjb,lTswlzZdssgFpdPwZpMQnCjngCCjWBQBWWQqng,PRZMpzPZTdVZTfJvFvLFRctJcf
12.0,JHbQtHVHHLLbTJmmZddgdgwhllMNhhhTgg,spqpNGDjDPMhCFChMj,DBSDDGnpSDsDWqWczcvSqWvsBtJJLLZrRVZLJRbBZNVrBHrV

In [155]:
df2.iloc[1, 0]

'vvCJLGnthChvtrvCCnRbTRqRPRBtbTRfPRRl'

In [160]:
result2 = {}

for i in range(len(df2.index)):
    vals = []
    for col in range(3):
        vals.append(df2.iloc[i, col])
        
    for letter in vals[0]:
        if letter in vals[1] and letter in vals[2]:
            result2[i] = priorities[letter]

In [161]:
result2

{0: 49,
 1: 6,
 2: 3,
 3: 32,
 4: 40,
 5: 3,
 6: 4,
 7: 28,
 8: 33,
 9: 2,
 10: 48,
 11: 14,
 12: 22,
 13: 42,
 14: 23,
 15: 52,
 16: 30,
 17: 52,
 18: 33,
 19: 30,
 20: 34,
 21: 39,
 22: 6,
 23: 13,
 24: 33,
 25: 49,
 26: 46,
 27: 14,
 28: 30,
 29: 18,
 30: 38,
 31: 2,
 32: 4,
 33: 40,
 34: 26,
 35: 4,
 36: 40,
 37: 39,
 38: 19,
 39: 16,
 40: 10,
 41: 46,
 42: 42,
 43: 12,
 44: 8,
 45: 45,
 46: 23,
 47: 39,
 48: 42,
 49: 42,
 50: 43,
 51: 32,
 52: 39,
 53: 13,
 54: 13,
 55: 33,
 56: 46,
 57: 7,
 58: 20,
 59: 34,
 60: 30,
 61: 28,
 62: 2,
 63: 38,
 64: 30,
 65: 26,
 66: 33,
 67: 23,
 68: 18,
 69: 39,
 70: 29,
 71: 38,
 72: 6,
 73: 12,
 74: 4,
 75: 2,
 76: 52,
 77: 17,
 78: 16,
 79: 44,
 80: 14,
 81: 16,
 82: 46,
 83: 34,
 84: 4,
 85: 13,
 86: 36,
 87: 48,
 88: 42,
 89: 34,
 90: 8,
 91: 16,
 92: 45,
 93: 8,
 94: 4,
 95: 48,
 96: 39,
 97: 19,
 98: 14,
 99: 13}